# WBSflix Recommender System (module 80)

**task 1: popularity recommender**

create a function that takes an input ‘n’ (n is an integer, how many movies we wish to display) and outputs the top n movies so that you can populate the first row of WBSFLIX’s site. Be careful not to recommend any 5-star movies with only one rating.y”.

# Imports and Settings

In [1]:
import pandas as pd
# import matplotlib as plt
# import seaborn as sns

In [2]:
# url = 'https://drive.google.com/file/d/1CcC-fGHMV1BYwCUC-7S0hb2KbDHSGzEe/view?usp=sharing'
# path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
# ratings = pd.read_csv(path)

# url = 'https://drive.google.com/file/d/11mLtDFT7p2a0vpyfgj3f8DOmlViMzaFF/view?usp=sharing'
# path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
# tags = pd.read_csv(path)

# url = 'https://drive.google.com/file/d/1MgafIOm4Obc8hOqGUkNp1Ip4ffZ5ENyE/view?usp=sharing'
# path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
# movies = pd.read_csv(path)

# url = 'https://drive.google.com/file/d/1yWn-09u5tQ6ROdI7Weoe09YdNNlifOaQ/view?usp=sharing'
# path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
# links = pd.read_csv(path)

In [3]:
# import data
links = pd.read_table("data/links.csv", sep=",")
movies = pd.read_table("data/movies.csv", sep=",")
tags = pd.read_table("data/tags.csv", sep=",")
ratings = pd.read_table("data/ratings.csv", sep=",")

# Data Exploration

## movies EDA

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [5]:
movies.head(2)

# onehotencoder for genres? or RegEx?

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [6]:
movies.shape

(9742, 3)

## ratings EDA

In [7]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [8]:
ratings.head(2)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247

In [9]:
ratings.nunique()

userId         610
movieId       9724
rating          10
timestamp    85043
dtype: int64

In [10]:
ratings.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [11]:
ratings["rating"].value_counts(normalize=True)

rating
4.0    0.265957
3.0    0.198808
5.0    0.131015
3.5    0.130271
4.5    0.084801
2.0    0.074884
2.5    0.055040
1.0    0.027877
1.5    0.017762
0.5    0.013586
Name: proportion, dtype: float64

In [12]:
# ratings.hist()

## tags EDA

In [13]:
tags.shape

(3683, 4)

In [14]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB

In [15]:
tags.head(2)

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996

In [16]:
tags["tag"].value_counts()

tag
In Netflix queue     131
atmospheric           36
thought-provoking     24
superhero             24
funny                 23
                    ...
small towns            1
In Your Eyes           1
Lloyd Dobbler          1
weak plot              1
Heroic Bloodshed       1
Name: count, Length: 1589, dtype: int64

## links EDA

In [17]:
links.shape

(9742, 3)

In [18]:
links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

In [19]:
links.head(2)

   movieId  imdbId  tmdbId
0        1  114709   862.0
1        2  113497  8844.0

# Data Prep

In [20]:
data = ratings

In [21]:
# duplicates
duplicates = data.duplicated()
duplicated_rows = data[duplicates]
duplicated_rows
# df.drop_duplicates(inplace=True)

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [22]:
# null values
data.isna().sum()
data.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

# Modelling

In [23]:
# create a function that takes an input ‘n’ (n is an integer, how many movies we wish to display) 
# and outputs the top n movies so that you can populate the first row of WBSFLIX’s site. 
# Be careful not to recommend any 5-star movies with only one rating.

# Instead of using the average rating of the movies, get the number of ratings: 
# a movie that has been rated many times is “popular” —it has been watched/rated by a lot of people, 
# regardless of whether they liked it or not.

# Use a hybrid method between the average rating (the “quality”) and number of ratings (the “popularity”).
# There are many ways to implement this hybrid method. 
# For example: Setting a threshold for “popularity” (e.g. movies that have been rated at least 10 times), 
# then sorting movies just by “quality”. Creating a new metric that mixes “popularity” and “quality”.

## Popularity Ranking (Not Personalized)

In [24]:
ratings.head(2)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247

In [25]:
# input
num = int(input("How may movies do you wish in your recommendation list?") or 10)

How may movies do you wish in your recommendation list? 4

### popular by rating and number of rating

In [26]:
# means and counts per movie, then filter threshold
ratings_grp = ratings.groupby('movieId')['rating'].agg(['mean', 'count']).reset_index()
thresholds = ratings_grp.loc[(ratings_grp['mean'] >= 3.5) & (ratings_grp['count'] > 10)]
top_movies = thresholds.merge(movies, on="movieId", how="left").sort_values(by=["mean", "count"], ascending=[False, False]).head(num)
top_movies

     movieId      mean  count                                title     genres
174     1041  4.590909     11                Secrets & Lies (1996)      Drama
548     3451  4.545455     11  Guess Who's Coming to Dinner (1967)      Drama
199     1178  4.541667     12                Paths of Glory (1957)  Drama|War
190     1104  4.475000     20     Streetcar Named Desire, A (1951)      Drama

In [27]:
# formula for popularity
total_count = top_movies["count"].sum()
top_movies["pop_score"] = top_movies["mean"] * (top_movies["count"]) / total_count
top_list = top_movies.sort_values(by="pop_score", ascending=False).head(num)
top_list

,movieId,mean,count,title,genres,pop_score
190,1104,4.475000,20,"Streetcar Named Desire, A (1951)",Drama,1.657407
199,1178,4.541667,12,Paths of Glory (1957),Drama|War,1.009259
174,1041,4.590909,11,Secrets & Lies (1996),Drama,0.935185
548,3451,4.545455,11,Guess Who's Coming to Dinner (1967),Drama,0.925926

### "hot" at the moment

In [28]:
# highest mean ranking in the last 30/60/90 days
ratings.head(2)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247

In [29]:
# input
p = 30 # int(input(f"How many days back would you like the top rated films?") or 90)

# format timestamp
ratings["timestamp"] = pd.to_datetime(ratings["timestamp"], unit='s')
periode_df = ratings.loc[ratings['timestamp'] >= ((ratings['timestamp'].max()) - (pd.Timedelta(days=p)))]

# threshold = 4.5 and 5.0 stars
ratings_grp = periode_df.groupby('movieId')['rating'].agg(['mean']).reset_index()
thresholds = ratings_grp.loc[(ratings_grp['mean'] >= 4.5)]
top_movies = thresholds.merge(movies, on="movieId", how="left").sort_values(by="mean", ascending=False)
top_movies

,movieId,mean,title,genres
75,122882,5.0,Mad Max: Fury Road (2015),Action|Adventure|Sci-Fi|Thriller
43,46578,5.0,Little Miss Sunshine (2006),Adventure|Comedy|Drama
61,94864,5.0,Prometheus (2012),Action|Horror|Sci-Fi|IMAX
31,6016,5.0,City of God (Cidade de Deus) (2002),Action|Adventure|Crime|Drama|Thriller
92,167746,5.0,The Lego Batman Movie (2017),Action|Animation|Comedy
...,...,...,...,...
38,26713,4.5,Days of Being Wild (A Fei jingjyuhn) (1990),Drama|Romance
35,8784,4.5,Garden State (2004),Comedy|Drama|Romance
34,7615,4.5,Desert Hearts (1985),Drama
32,6350,4.5,Laputa: Castle in the Sky (Tenkû no shiro Rapy...,Action|Adventure|Animation|Children|Fantasy|Sc...
111,191005,4.5,Gintama (2017),Action|Adventure|Comedy|Sci-Fi

## Item-Based Collaborative Filtering (Semi Personalised)

In [30]:
# !pip install scikit-learn

In [31]:
def movie_recommender_(favorite, number_of_recommendations):

    import pandas as pd
    from sklearn.metrics.pairwise import cosine_similarity

    # user items matrix & items similarity matrix
    user_items_matrix = pd.pivot_table(data=ratings, values='rating', index='userId', columns='movieId', fill_value=0)
    items_similarity_matrix = pd.DataFrame(cosine_similarity(user_items_matrix.T), columns=user_items_matrix.columns, index=user_items_matrix.columns)

    # similarity_score column
    similarity_df = pd.DataFrame(items_similarity_matrix[favorite])                     # .reset_index() ?
    similarity_df = similarity_df.rename(columns={favorite: 'similarity_score'})        # rename cosineses column
    similarity_df = similarity_df[similarity_df.index != favorite]                       # remove row with favorite book
    similarity_df = similarity_df.sort_values(by='similarity_score', ascending=False)   # sort by 'cosineses' values

    # number_ratings column
    nr_of_users_rated_both_movies = [sum((user_items_matrix[favorite] > 0) & (user_items_matrix[movieId] > 0)) for movieId in similarity_df.index]
    similarity_df['number_ratings'] = nr_of_users_rated_both_movies              # Add the number of users to df
    similarity_df = similarity_df[similarity_df["number_ratings"] > 10]          # only movies that have been rated by less than 10 users

    # output table with further movie informations
    similarity_df = (similarity_df.head(number_of_recommendations).reset_index()
                        .merge(ratings.drop_duplicates(subset='movieId'), on='movieId', how='left'))
    similarity_df = similarity_df.drop(["userId", "rating", "timestamp"], axis=1).merge(movies, on='movieId', how='left')

    new_col_order = ['movieId', 'title', 'similarity_score', 'number_ratings', 'genres']
    similarity_df = similarity_df.reindex(columns=new_col_order)

    recommended_movies = similarity_df
    return recommended_movies

In [32]:
# --- helm box ---

# inputs
number_of_recommendations = int(input("How many movies would you like to be recommended?"))       # n
favorite = int(input("Id of a movie, the client particularly enjoyed:"))                          # movieId

# call function
movie_recommender_(favorite, number_of_recommendations)

How many movies would you like to be recommended? 4
Id of a movie, the client particularly enjoyed: 3

,movieId,title,similarity_score,number_ratings,genres
0,3450,Grumpy Old Men (1993),0.447987,18,Comedy
1,762,Striptease (1996),0.446784,20,Comedy|Crime
2,788,"Nutty Professor, The (1996)",0.445082,28,Comedy|Fantasy|Romance|Sci-Fi
3,736,Twister (1996),0.436247,37,Action|Adventure|Romance|Thriller

In [33]:
movieId_list = movies["movieId"].tolist()
# movieId_list

**??? make a pipeline of functions**

In [34]:
# def inputs():
#     number_of_recommendations = int(input("How many movies would you like to be recommended?"))       # n
#     favorite = int(input("Id of a movie, the client particularly enjoyed:"))                          # movieId
#     return number_of_recommendations, favorite

In [35]:
# --- helm box ---
# recommendations = ratings.pipe(input).pipe(movie_recommender_(favorite, number_of_recommendations))

## User-Based Collaborative Recommender System (Fully Personalized)

In [36]:
# %%capture
# pip install scikit-surprise

In [37]:
from surprise import Reader, Dataset, KNNBasic, accuracy
from surprise.prediction_algorithms import CoClustering, SVD, SlopeOne
from surprise.model_selection import train_test_split

### manually step by step

#### Data Prep

In [38]:
seed = 888
split = 0.2
# --------------- INPUTs

# order of data for surprise: user > item > rating !!!
df = ratings[["userId", "movieId", "rating"]]

# create surprise dataset
reader = Reader(rating_scale=(0.5, 5))
sup_df = Dataset.load_from_df(df, reader)

# split train and test
train, test = train_test_split(sup_df, test_size=split, random_state=seed)

#### Modelling

In [39]:
# knn
sim_options = {'name': 'cosine', 'user_based': True}
knn = KNNBasic(sim_options=sim_options)
knn.fit(train)
pred = knn.test(test)

Computing the cosine similarity matrix...
Done computing similarity matrix.

#### Exploring Preditions

gives list of named tuples:
- uid: Represents the raw user id
- iid: Represents the raw item id
- **r_ui**: Denotes the true rating provided by the user
- **est**: Represents the estimated rating calculated by the model
- details: additional information and space to include any relevant details

In [40]:
pred[:5]
pred_df = pd.DataFrame(pred, columns=["raw_user_id", "raw_item_id", "actual_user_rating", "estimated_user_rating", "details"])
pred_df.head()

,raw_user_id,raw_item_id,actual_user_rating,estimated_user_rating,details
0,600,17,3.5,3.960263,"{'actual_k': 40, 'was_impossible': False}"
1,199,1387,5.0,4.050647,"{'actual_k': 40, 'was_impossible': False}"
2,345,1203,5.0,4.075934,"{'actual_k': 32, 'was_impossible': False}"
3,426,4344,0.5,3.314698,"{'actual_k': 29, 'was_impossible': False}"
4,474,3816,4.0,3.503174,"{'was_impossible': True, 'reason': 'User and/o..."

#### Evaluation

In [41]:
# Mean Absolute Error
accuracy.mae(pred)

MAE:  0.7441

0.744086519845257

In [42]:
# Root Mean Square Error
accuracy.rmse(pred)

RMSE: 0.9658

0.965786990056666

In [43]:
# Fraction of Concordant Pairs
accuracy.fcp(pred)

FCP:  0.6704

0.6703876392289744

**manual graphics**

histogram of errors, a box plot or a scatterplot of errors

In [44]:
# !pip install matplotlib
# !pip install seaborn

In [45]:
# To generate a histogram of errors and a scatterplot of errors, 
# we must initially calculate the difference between the actual and predicted ratings 
# — this difference is referred to as the "error."
pred_df["delta"] = pred_df["actual_user_rating"] - pred_df["estimated_user_rating"]

In [46]:
# histogramm
# pred_df["delta"].hist(bins=30, figsize=(10, 8));

In [47]:
# box plot
# pred_df.plot(kind='box', column='estimated_user_rating', by='actual_user_rating', figsize=(10, 8));

### looping models and metrics

**my task**

try models (other than of knn). whats co clustering?

users tend to recommend positive. 

only few are really neg. in btw. are very few...

In [48]:
accuracy.mae(pred)

MAE:  0.7441

0.744086519845257

In [49]:
# Loop Lists
methods = ["MAE", "RMSE", "FCP"]                      #   ->n 
models =  ["KNN", "CoCluster", "SVD", "Slope"]        #   ->m
model_ops = [KNNBasic(name ='cosine', user_based=True),
             CoClustering(n_cltr_u=3, n_cltr_i=3, n_epochs=20, random_state=888, verbose=False), 
             SVD(n_factors=100, n_epochs=20, biased=True, init_mean=0, init_std_dev=0.1, lr_all=0.005, reg_all=0.02), SlopeOne()]  # -> o
# loop
model_scores_df = pd.DataFrame({})
for m, o in zip(models, model_ops):
    model = o
    model.fit(train)
    pred = model.test(test)
    method_ops = [accuracy.mae(pred), accuracy.rmse(pred), accuracy.fcp(pred)] #   ->s
    for n, s  in zip(methods, method_ops):
            model_scores_df.loc[m, n] = s
#results
model_scores_df

Computing the msd similarity matrix...
Done computing similarity matrix.
MAE:  0.7216
RMSE: 0.9406
FCP:  0.6713
MAE:  0.7234
RMSE: 0.9356
FCP:  0.6430
MAE:  0.6640
RMSE: 0.8650
FCP:  0.6647
MAE:  0.6830
RMSE: 0.8943
FCP:  0.6590

                MAE      RMSE       FCP
KNN        0.721605  0.940581  0.671304
CoCluster  0.723359  0.935561  0.642990
SVD        0.664017  0.864951  0.664731
Slope      0.683045  0.894255  0.658961

In [50]:
# df = model_scores_df.T
# plt.figure(figsize=(14, 4))
# heatmap = sns.heatmap(df.T, annot=True, cmap="Spectral", fmt=".4f", linewidths=0.01, cbar_kws={"label": "Metric Value"})
# heatmap.set_xticklabels(heatmap.get_xticklabels(), rotation=45, horizontalalignment='right')
# plt.title('Prediction Comparison')
# plt.show()

### full_train and anti_test datasets

data.build_full_trainset()

full_train.build_anti_testset()

In [51]:
from surprise import Reader, Dataset, KNNBasic, accuracy
from surprise.model_selection import train_test_split

reader = Reader(rating_scale=(0.5, 5))                                      # set the scale of the ratings according to README
data = Dataset.load_from_df(ratings.drop("timestamp", axis=1), reader)      # create Dataset which Surprise can work with
# trainset, testset = train_test_split(data, test_size=0.2, random_state=1)

In [52]:
full_train = data.build_full_trainset()
testset = full_train.build_anti_testset()

In [53]:
testset[:5]

[(1, 318, 3.501556983616962),
 (1, 1704, 3.501556983616962),
 (1, 6874, 3.501556983616962),
 (1, 8798, 3.501556983616962),
 (1, 46970, 3.501556983616962)]

In [54]:
# model
sim_options = {'name': 'cosine', 'user_based': True}
knn_model = KNNBasic(sim_options=sim_options)
knn_model = knn_model.fit(full_train)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [55]:
# pred
predictions = knn_model.test(testset)
predict_df = pd.DataFrame(predictions, columns=["uid", "iid", "r_ui", "est", "details"])
predict_df

,uid,iid,r_ui,est,details
0,1,318,3.501557,4.661920,"{'actual_k': 40, 'was_impossible': False}"
1,1,1704,3.501557,4.312342,"{'actual_k': 40, 'was_impossible': False}"
2,1,6874,3.501557,4.037832,"{'actual_k': 40, 'was_impossible': False}"
3,1,8798,3.501557,3.825442,"{'actual_k': 40, 'was_impossible': False}"
4,1,46970,3.501557,3.248789,"{'actual_k': 28, 'was_impossible': False}"
...,...,...,...,...,...
5830799,610,7377,3.501557,3.500000,"{'actual_k': 1, 'was_impossible': False}"
5830800,610,8667,3.501557,3.500000,"{'actual_k': 1, 'was_impossible': False}"
5830801,610,32302,3.501557,4.000000,"{'actual_k': 1, 'was_impossible': False}"
5830802,610,51903,3.501557,2.500000,"{'actual_k': 1, 'was_impossible': False}"
5830803,610,137,3.501557,3.000000,"{'actual_k': 1, 'was_impossible': False}"

exploring predictions:
- uid: Represents the raw user id
- iid: Represents the raw item id
- **r_ui**: Denotes the true rating provided by the user
- **est**: Represents the estimated rating calculated by the model
- details: additional information and space to include any relevant details

In [60]:
model = knn_model
user_id = 3
n = 10

In [61]:
# function that will provide the top n recommendations for a specified user
def get_top_n(testset, model, user_id, n):
    
    # Filter the testset to include only rows with the specified user_id
    filtered_testset = [row for row in testset if row[0] == user_id]

    # Make predictions on the filtered testset
    predictions = knn_model.test(filtered_testset)

    # Create a DataFrame from the predictions and return the top n predictions based on the estimated ratings ('est')
    top_n_predictions_df = pd.DataFrame(predictions, columns=["uid", "iid", "r_ui", "est", "details"]).sort_values(by='est', ascending=False).head(n)

    return top_n_predictions_df

In [62]:
# ---helm box---

top_n_df = get_top_n(testset=testset, model=knn_model, user_id=3, n=10)
top_n_df

      uid     iid      r_ui  est                                   details
8519    3   93320  3.501557  5.0  {'actual_k': 1, 'was_impossible': False}
5119    3   26078  3.501557  5.0  {'actual_k': 1, 'was_impossible': False}
3122    3   92494  3.501557  5.0  {'actual_k': 1, 'was_impossible': False}
6118    3    7815  3.501557  5.0  {'actual_k': 1, 'was_impossible': False}
5615    3  146662  3.501557  5.0  {'actual_k': 1, 'was_impossible': False}
3876    3  121781  3.501557  5.0  {'actual_k': 1, 'was_impossible': False}
3877    3  122092  3.501557  5.0  {'actual_k': 1, 'was_impossible': False}
7346    3    5537  3.501557  5.0  {'actual_k': 1, 'was_impossible': False}
3879    3  124404  3.501557  5.0  {'actual_k': 1, 'was_impossible': False}
3882    3  126088  3.501557  5.0  {'actual_k': 1, 'was_impossible': False}

In [63]:
# Creating a DataFrame from the top_n with columns 'movieId' and 'estimated_rating'
reduced_top_n_df = top_n_df.loc[:, ["iid", "est"]].rename(columns={"iid": "movieId", "est": "estimated_rating"})
reduced_top_n_df

      movieId  estimated_rating
8519    93320               5.0
5119    26078               5.0
3122    92494               5.0
6118     7815               5.0
5615   146662               5.0
3876   121781               5.0
3877   122092               5.0
7346     5537               5.0
3879   124404               5.0
3882   126088               5.0

In [64]:
# match movieIds with movie titles and other information
m_df = reduced_top_n_df.merge(movies, on="movieId", how="left")

,movieId,estimated_rating,title,genres
0,93320,5.0,Trailer Park Boys (1999),Comedy|Crime
1,26078,5.0,Advise and Consent (1962),Drama
2,92494,5.0,Dylan Moran: Monster (2004),Comedy|Documentary
3,7815,5.0,True Stories (1986),Comedy|Musical
4,146662,5.0,Dragons: Gift of the Night Fury (2011),Adventure|Animation|Comedy
5,121781,5.0,Stuart Little 3: Call of the Wild (2005),Animation|Children|Comedy|Fantasy
6,122092,5.0,Guy X (2005),Comedy|War
7,5537,5.0,Satin Rouge (2002),Drama|Musical
8,124404,5.0,"Snowflake, the White Gorilla (2011)",Adventure|Animation|Children|Comedy
9,126088,5.0,A Flintstones Christmas Carol (1994),Animation|Children|Comedy

In [65]:
# Creating a copy of the original DataFrame with duplicate 'movieId' entries removed
reduced__original_df = m_df.drop_duplicates(subset='movieId').copy()

# Selecting specific columns from the merged DataFrame to include in the final result
final_df = reduced__original_df[['movieId', 'title', 'estimated_rating', 'genres']]
final_df

,movieId,title,estimated_rating,genres
0,93320,Trailer Park Boys (1999),5.0,Comedy|Crime
1,26078,Advise and Consent (1962),5.0,Drama
2,92494,Dylan Moran: Monster (2004),5.0,Comedy|Documentary
3,7815,True Stories (1986),5.0,Comedy|Musical
4,146662,Dragons: Gift of the Night Fury (2011),5.0,Adventure|Animation|Comedy
5,121781,Stuart Little 3: Call of the Wild (2005),5.0,Animation|Children|Comedy|Fantasy
6,122092,Guy X (2005),5.0,Comedy|War
7,5537,Satin Rouge (2002),5.0,Drama|Musical
8,124404,"Snowflake, the White Gorilla (2011)",5.0,Adventure|Animation|Children|Comedy
9,126088,A Flintstones Christmas Carol (1994),5.0,Animation|Children|Comedy

# Resulting Model

## Deployment on Streamlit